/* Tabs.module.css */
.wrapperTabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tabsHeader {
  display: flex;
  cursor: pointer;
}

.tab {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.tab:hover {
  background-color: #313638;
  color: white;
}

.active {
  background-color: #313638;
  color: white;
}

.tabsContent {
  padding: 20px;
  border-top: 2px solid #ccc;
  margin-top: 10px;
}
